<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Company Name</th>
                <th>Brand Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of brandListModel">
                <td>{{x.id}}</td>
                <td>{{x.company.companyName}}</td>
                <td>{{x.brandName}}</td>
                <td width="15%">
                    <button [routerLink]="['/editbrand', x.id]" class="btn btn-primary mr-1">Edit</button>
                    <button (click)="OnRemoveButtonBrand(x.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>